footer.site-footer
    +icon('arrow-left', 'svg-icon--red')
    h2 Site footer
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum suscipit, asperiores, est id debitis voluptatibus corrupti modi dicta vero nesciunt architecto molestiae non sed pariatur facilis dolorem sunt maiores incidunt.