footer.site-footer
    +icon('arrow', 'svg-icon--red')
    +icon('checkmark')
    +icon('download')
    +icon('close')
    +icon('scroll', 'svg-icon--stroke')
    h2 Site footer
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum suscipit, asperiores, est id debitis voluptatibus corrupti modi dicta vero nesciunt architecto molestiae non sed pariatur facilis dolorem sunt maiores incidunt.
