.svg-icon {
    width: 30px;
    height: 30px;
    fill: #000;
    svg {
        fill: inherit;
        width: inherit;
        height: inherit;
    }
    &--red {
        fill: red;
    }
    &--stroke {
        fill: none;
        stroke: #000;
        stroke-width: 1px;
    }
}